{% extends 'newsapp/base.html' %}

	{% block content %}
     <h1>Арга хэмжээ</h1>

         <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="date" name="date" id="id_date"/>
            {% comment %} <a class="btn btn-primary" href="/calendar/">Save</a> {% endcomment %}
            <button type="submit">Save</button>
         </form>
      {% comment %} <script>
      $(document).ready(function() {
         if($(input).attr('name') == 'date'){
            $(this).attr('type', 'date')
         }
      });
      </script> {% endcomment %}
      {% comment %} <div style="text-align: margin-top: 100px">
			<input type="date">
			{{ example_form.my_date_field }}
		</div> {% endcomment %}
    {% endblock%}






