{% extends 'newsapp/base.html' %}

	{% block content %}
	 <div id="main_news">
		{% comment %} <h1>Нүүр хуудас</h1> {% endcomment %}
		<!-- <div style="text-align: margin-top:100px  center">
			<input type="date">
			{{ example_form.my_date_field }}
		</div> -->
		<div class="flex-container">
			<div class="user_menu" >
				<a class="btn btn-primary"  href="/burtguuleh/">Бүртгүүлэх</a>
				<a class="btn btn-primary"  href="/login/">Нэвтрэх</a>
			</div>
			<div id="news_items" class="">
			{% comment %} <a href="/burtguuleh/" class="btn btn-primary">бүртгүүлэх</a> {% endcomment %}
			{% for News in Newss %}
				<div class="card">
				<img class="card-img-top"  src="{{News.image.url}}"><br>
					<div class="card-body ">
					<h5 class="card-title"><b>{{News.name}}</b></h5></b>
					<p class="card-text"> {{News.more}}<br></p>
					<a href="/news2/{{News.id}}/" class="btn btn-primary ">Дэлгэрэнгүй<a>
					</div>
				</div>
				<!-- {{News.name}}<br>
				{{News.date_created}}<br>
				{{News.more}}<br> -->
				<!-- <img width="190px" src="{{News.image.url}}"><br> -->
				<!-- <a href="/news2/{{News.id}}/">Дэлгэрэнгүй</a> -->
			{% endfor %}
			</div>
		</div>

	</div>
	{% endblock%}